---
component: Badges
layout: main-layout.html
---

<a href="https://design.atlassian.com/latest/product/components/badges/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>
<h3>Summary</h3>
<p>Badges provide quick visual identification for <strong>numeric values</strong> such as tallies and other quantities. They are not used for anything other than integers. For statuses, use Lozenges. To call out tags or other high-visibility attributes, use Labels.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><aui-lozenge type="success">general</aui-lozenge></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-badge">
                <code>com.atlassian.auiplugin:aui-badge</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example">
    <aui-badge>1</aui-badge>
    <aui-badge>2</aui-badge>
    <aui-badge>3</aui-badge>
    <aui-badge>4</aui-badge>
    <aui-badge>5</aui-badge>
    <aui-badge>6</aui-badge>
    <aui-badge>7</aui-badge>
</div>

<h3>Code</h3>

<h4>HTML</h4>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <aui-badge>19</aui-badge>
    </noscript>
</aui-docs-example>

<h4>HTML <aui-lozenge type="error">deprecated</aui-lozenge></h4>
The use of <code>aui-badge</code> class will be deprecated.
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <span class="aui-badge">19</span>
    </noscript>
</aui-docs-example>

<h4>Soy <aui-lozenge type="error">deprecated</aui-lozenge></h4>
<noscript is="aui-docs-code" type="text/handlebars">
  {call aui.badges.badge}
    {param text: '19' /}
  {/call}
</noscript>
