---
component: Dropdown
layout: main-layout.html
---
<h3>Summary</h3>
<p>Dropdown2 creates a dropdown menu, with optional sections, headings, icons, checkbox items, radio group items and disabled items. Submenus are supported but should be avoided where possible for usability reasons.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
    <tr>
        <th>API status:</th>
        <td><aui-lozenge type="current">experimental</aui-lozenge></td>
    </tr>
    <tr>
        <th>Included in AUI core?</th>
        <td><aui-lozenge type="current">Not in core</aui-lozenge> You must explicitly require the web
            resource key.
        </td>
    </tr>
    <tr>
        <th>Web resource key:</th>
        <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-dropdown2"><code>com.atlassian.auiplugin:aui-dropdown2</code>
        </td>
    </tr>
    <tr>
        <th>AMD Module key:</th>
        <td class="resource-key">N/A</td>
    </tr>
    <tr>
        <th>Experimental since:</th>
        <td>5.9</td>
    </tr>
    </tbody>
</table>

<h3>Examples</h3>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <button aria-controls="example-dropdown" class="aui-button aui-style-default aui-dropdown2-trigger" aria-haspopup="true">
            Open dropdown
        </button>

        <aui-dropdown-menu id="example-dropdown">
            <aui-section label="Links">
                <aui-item-link href="http://atlassian.com">Atlassian</aui-item-link>
                <aui-item-link href="http://news.ycombinator.com">Hacker news</aui-item-link>
                <aui-item-link disabled href="http://github.com">Github</aui-item-link>
            </aui-section>
            <aui-section label="Browsers">
                <aui-item-radio checked interactive>Chrome</aui-item-radio>
                <aui-item-radio interactive>Firefox</aui-item-radio>
                <aui-item-radio disabled interactive>Spartan</aui-item-radio>
            </aui-section>
            <aui-section label="Languages">
                <aui-item-checkbox checked interactive>Javascript</aui-item-checkbox>
                <aui-item-checkbox interactive>Fortran</aui-item-checkbox>
                <aui-item-checkbox interactive>Rust</aui-item-checkbox>
            </aui-section>
        </aui-dropdown-menu>
    </noscript>
</aui-docs-example>

<h3 id="attributes">Attributes</h3>

<table class="aui">
    <thead>
        <tr>
            <th>Components</th>
            <th>Attribute</th>
            <th class="description">Description</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td><aui-docs-component>aui-dropdown-menu</aui-docs-component></td>
        <td><code>src</code></td>
        <td>A URL the component will fetch JSON from in order to template the dropdown's contents.</td>
    </tr>
    <tr>
        <td><aui-docs-component>aui-section</aui-docs-component></td>
        <td><code>label</code></td>
        <td>The text that will appear in the heading of a dropdown section.</td>
    </tr>
    <tr>
        <td>
            <aui-docs-component>aui-item-link</aui-docs-component>,
            <aui-docs-component>aui-item-checkbox</aui-docs-component>,
            <aui-docs-component>aui-item-radio</aui-docs-component>
        </td>
        <td><code>interactive</code></td>
        <td>If set, the dropdown item will not close when clicked.</td>
    </tr>
    <tr>
        <td>
            <aui-docs-component>aui-item-link</aui-docs-component>,
            <aui-docs-component>aui-item-checkbox</aui-docs-component>,
            <aui-docs-component>aui-item-radio</aui-docs-component>
        </td>
        <td><code>disabled</code></td>
        <td>If set, the dropdown item will not be selectable by the user.</td>
    </tr>
    <tr>
        <td>
            <aui-docs-component>aui-item-checkbox</aui-docs-component>,
            <aui-docs-component>aui-item-radio</aui-docs-component>
        </td>
        <td><code>checked</code></td>
        <td>If set, the dropdown item will be selected.</td>
    </tr>
    <tr>
        <td><aui-docs-component>aui-item-link</aui-docs-component></td>
        <td><code>for</code></td>
        <td>The <code>id</code> of another dropdown that this link will open as a submenu.</td>
    </tr>
    </tbody>
</table>

<h3>Remote dropdown</h3>

<p>A dropdown's contents can be fetched from a URL providing JSON that matches the following specification.</p>

<noscript is="aui-docs-code" type="text/html">
    <button aria-controls="example-dropdown" class="aui-button aui-style-default aui-dropdown2-trigger" aria-haspopup="true">
        Open dropdown
    </button>

    <aui-dropdown-menu id="example-dropdown" src="/async-dropdown">
    </aui-dropdown-menu>
</noscript>

<noscript is="aui-docs-code" type="text/js">
    [
        { type: "section", label: "Projects", items: [
            { type: "link", href: "#", content: "AUI" },
            { type: "link", href: "#", content: "Design Platform" },
            { type: "link", href: "#", content: "Children" }
        ]},
        { type: "section", label: "Issues", items: [
            { type: "link", href: "#", content: "AUI-111" },
            { type: "link", href: "#", disabled: true, content: "AUI-222" },
            { type: "link", href: "#", hidden: true, content: "AUI-333" }
        ]},
        { type: "section", label: "Checkboxes", items: [
            { type: "checkbox", href: "#", interactive: true, content: "checkbox" },
            { type: "checkbox", href: "#", interactive: true, checked: true, content: "checkbox checked" }
        ]},
        { type: "section", label: "Radio", items: [
            { type: "radio", href: "#", interactive: true, content: "radio" },
            { type: "radio", href: "#", interactive: true, checked: true, content: "radio checked" }
        ]}
    ]
</noscript>

<p>The core structure of this JSON is a list of sections, each section containing an optional <code>label</code> property and a mandatory <code>items</code> property.</p>
<p>The <code>items</code> array closely reflects the markup pattern – the <code>type</code> property corresponds to a tagname, and the attributes are listed as properties of the same name,
as listed in the <a href="#attributes">attributes table</a>. Boolean attributes must take a value of <code>true</code> or <code>false</code>,
otherwise the value of each property will be inserted into the corresponding attribute directly.</p>
