---
component: Helper functions
layout: main-layout.html
---

<section class="aui-page-panel-content">
    <table id="auidocs-helper-functions-table" class="aui aui-table-sortable tablesorter tablesorter-default">
        <thead>
        <tr class="tablesorter-headerRow">
            <th class="function-name-header">
                Function
            </th>
            <th class="function-description-header aui-table-column-unsortable">
                Description
            </th>
            <th class="function-available-header tablesorter-header">
               Available since
            </th>
            <th class="function-example-header aui-table-column-unsortable">
               Example
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="function">contextPath</td>
            <td class="function-description">
                <p>The AJS.contextPath() function returns the "path" to the application, which is needed when creating
                    absolute urls within the application, e.g.:
                </p>
                <ul>
                    <li> var url = AJS.contextPath() + "/rest/some/resource";</li>
                    <li>var url = AJS.contextPath() + "/dashboard.action";</li>
                </ul>
            </td>
            <td>3.5.5</td>
            <td class="function-example"></td>
        </tr>
        <tr>
            <td class="function">Cookie</td>
            <td class="function-description">
                <p> store values in a persistent cookie without worrying about the application using too many cookies.
                </p>
                <p></p>
            </td>
            <td>3.5.5</td>
            <td class="function-example">
               <noscript is="aui-docs-code" type="text/js">
                   // Save a value to the conglomerate cookie
                   AJS.Cookie.save("COOKIES_ARE_COOL", "true");

                   // Save will also update a value previously saved
                   AJS.Cookie.save("COOKIES_ARE_COOL", "not true");

                   // retrieve a value from the conglomerate cookie
                   AJS.Cookie.read("COOKIES_ARE_COOL");

                   // remove a value from the conglomerate cookie
                   AJS.Cookie.erase("COOKIES_ARE_COOL");
               </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">debounce</td>
            <td class="function-description">
                <p>Makes sure that a constantly firing function doesn't cause performance issues.</p>
                <p>Don't Use when binding to an infrequently firing event.</p>
            </td>
            <td>5.1</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    function myFunction(){
                    //function code
                    }

                    var myDebouncedFunction = AJS.debounce(myFunction,
                    300); //this function won't fire if it has been less than 300ms before the last call

                    AJS.$(window).resize(myDebouncedFunction);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">debounceImmediate</td>
            <td class="function-description">
                <p>Like <code>debounce()</code>, makes sure that a constantly firing function doesn't cause
                    performance issues, but fires at the start rather than at the end of the wait period.</p>
                <p>Don't Use when binding to an infrequently firing event.</p>
            </td>
            <td>5.9</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/html" lang="js">
                    function myFunction(){
                    //function code
                    }

                    var myDebouncedFunction = AJS.debounceImmediate(myFunction,
                    300); //this function fires immediately and will not fire again until the last call passes 300ms

                    AJS.$(window).resize(myDebouncedFunction);
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">escapeHTML</td>
            <td class="function-description">
                <p>The AJS.escapeHtml() performs html-safe escaping of the input string. Specifically, it encodes:</p>
                <ul>
                    <li>&lt;</li>
                    <li>&gt;</li>
                    <li>&amp;</li>
                    <li>'</li>
                    <li>"</li>
                </ul>
            </td>
            <td>4.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    var url = "\u005C\u003E\u003Cscript\u003Ealert(\u0027XSS\u0027)\u003B\u003C/script\u003E";

                    // BAD: XSS problem
                    $("#mydiv").html(url);

                    // GOOD
                    $("#mydiv").html(AJS.escapeHtml(url));
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">format</td>
            <td class="function-description">
                <p>Provides an easy way to substitute parameters into a string.</p>
            </td>
            <td>1.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    AJS.format("Have a {0} day", "good"); /* Have a good day */
                    AJS.format("Have a '{0}' day", "good"); /* Have a '{0}' day */
                    AJS.format("Have a ''{0}'' {1}", "good", "Monday"); /* Have a 'good' Monday */
                </noscript>
            </td>
        </tr>
        <tr>
            <td class="function">I18n.getText</td>
            <td class="function-description">
                <p>AUI includes a web resource transformer that will translate some javascript into the literal strings
                    before being served.
                </p>
            </td>
            <td>3.5.5</td>
            <td class="function-example"></td>
        </tr>
        <tr>
            <td class="function">isDirty</td>
            <td class="function-description">
                <p> Make sure users cannot accidentally lose data.</p>
            </td>
            <td>2.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">AJS.$("formname=jiraform").isDirty();</noscript>
            </td>
        </tr>
        <tr>
            <td class="function">log</td>
            <td class="function-description">
                <p>A safe alternative to console.log(). It ensures that both console and the console.log method exist
                    before executing. This means if you happen to leave one in your code, browsers which don't support
                    console.log (eg. IE, some mobile browsers) shouldn't break.
                </p>
            </td>
            <td>1.0</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">AJS.log("Your message here.");</noscript>
            </td>
        </tr>
        <tr>
            <td class="function">version</td>
            <td class="function-description">
                <p>Detects the version of AUI on the current page.</p>
            </td>
            <td>1.2</td>
            <td class="function-example">
                <noscript is="aui-docs-code" type="text/js">
                    // for peace-of-mind checking
                    AJS.log(AJS.version); // "3.0"

                    // To use it in all its glory
                    if (AJS.version == "3.0") {
                    // take advantage of the awesomeness of AUI 3.0
                    } else {
                    // write awesome custom code
                }</noscript>
            </td>
        </tr>
        </tbody>
    </table>
</section>
