---
component: Lozenges
layout: main-layout.html
---
<a href="https://design.atlassian.com/latest/product/components/lozenges/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>
<div class="aui-message aui-message-info">
    This documentation is for the <strong>web component lozenge API</strong>.
    <ul class="aui-nav-actions-list"><li><a href="lozenges-deprecated.html">View documentation for the deprecated class-based lozenge API.</a></li></ul>
</div>
<h3>Summary</h3>
<p>Coloured text lozenge, primarily for displaying status. Available in standard and subtle variations.</p>
<h3>Status</h3>
<table class="aui summary">
    <tbody>
    <tr>
        <th>API status:</th>
        <td><aui-lozenge type="current">experimental</aui-lozenge></td>
        </td>
    </tr>
    <tr>
        <th>Included in AUI core?</th>
        <td>Yes. You do not need to explicitly require the web resource key.</td>
    </tr>
    <tr>
        <th>Web resource key:</th>
        <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-lozenge"><code>com.atlassian.auiplugin:aui-lozenge</code>
        </td>
    </tr>
    <tr>
        <th>Experimental since:</th>
        <td>5.10</td>
    </tr>
    </tbody>
</table>
<h3>Examples</h3>
<div class="aui-flatpack-example">
    <p>
        <aui-lozenge>default</aui-lozenge>
        <aui-lozenge type="success">success</aui-lozenge>
        <aui-lozenge type="error">error</aui-lozenge>
        <aui-lozenge type="current">current</aui-lozenge>
        <aui-lozenge type="complete">complete</aui-lozenge>
        <aui-lozenge type="moved">moved</aui-lozenge>
    </p>
    <p>
        <aui-lozenge display="subtle">default</aui-lozenge>
        <aui-lozenge display="subtle" type="success">success</aui-lozenge>
        <aui-lozenge display="subtle" type="error">error</aui-lozenge>
        <aui-lozenge display="subtle" type="current">current</aui-lozenge>
        <aui-lozenge display="subtle" type="complete">complete</aui-lozenge>
        <aui-lozenge display="subtle" type="moved">moved</aui-lozenge>
    </p>
</div>
<h3>Code</h3>
<h4>HTML</h4>
<p><code>aui-lozenge</code> uses a simple markup-based API:</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <aui-lozenge type="success">success</aui-lozenge>
    </noscript>
</aui-docs-example>

<h3>Appearance</h3>
<h4>Type</h4>
<p>Specify the appearance of the lozenge by setting the value of the <code>type</code> attribute on the <code>aui-lozenge</code> element. If not set, the lozenge will use the default style.</p>
<table class="aui compact">
    <thead>
    <tr>
        <th>Type</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><aui-lozenge>default</aui-lozenge></td>
        <td><code>default</code></td>
    </tr>
    <tr>
        <td><aui-lozenge type="success">success</aui-lozenge></td>
        <td><code>success</code>
        </td>
    </tr>
    <tr>
        <td><aui-lozenge type="error">error</aui-lozenge></td>
        <td><code>error</code>
        </td>
    </tr>
    <tr>
        <td><aui-lozenge type="current">current</aui-lozenge></td>
        <td><code>current</code>
        </td>
    </tr>
    <tr>
        <td><aui-lozenge type="complete">complete</aui-lozenge></td>
        <td><code>complete</code>
        </td>
    </tr>
    <tr>
        <td><aui-lozenge type="moved">moved</aui-lozenge></td>
        <td><code>moved</code>
        </td>
    </tr>
    </tbody>
</table>

<h4>Display</h4>
<p>To use the subtle variant, set the <code>display</code> attribute.</p>
<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <aui-lozenge display="subtle" type="success">success</aui-lozenge>
    </noscript>
</aui-docs-example>
<table class="aui compact">
    <thead>
    <tr>
        <th>Display</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><aui-lozenge>default</aui-lozenge></td>
        <td><code>default</code></td>
    </tr>
    <tr>
        <td><aui-lozenge display="subtle">subtle</aui-lozenge></td>
        <td><code>subtle</code>
        </td>
    </tr>
    </tbody>
</table>
