---
component: Navigation
layout: main-layout.html
---

<a href="https://design.atlassian.com/latest/product/components/navigation/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>
<h3>Summary</h3>
<p>Navigation covers simple navigation components, then combines them into horizontal and vertical nav groups, built on a common markup pattern. Commonly uses badges within navigation items.</p>
<p>Navigation patterns include horizontal navigation bars, vertical navigation groups, breadcrumbs and pagination.</p>
<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><aui-lozenge type="success">general</aui-lozenge>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-navigation"><code>com.atlassian.auiplugin:aui-navigation</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<h4>Horizontal navigation</h4>
<p>Should be placed immediately before <code>.aui-page-panel</code></p>
<div id="aui-hnav-example" class="aui-flatpack-example">
    <nav class="aui-navgroup aui-navgroup-horizontal">
        <div class="aui-navgroup-inner">
            <div class="aui-navgroup-primary">
                <ul class="aui-nav __skate">
                    <li><a href="http://example.com/">Nav item</a>
                    </li>
                    <li class="aui-nav-selected"><a href="http://example.com/">Selected nav item</a>
                    </li>
                    <li><a href="http://example.com/">Nav item <span class="aui-badge">123</span></a>
                    </li>
                    <li><a href="#dropdown2-nav1" aria-owns="dropdown2-nav1" aria-haspopup="true" class="aui-dropdown2-trigger">Dropdown <span class="aui-icon-dropdown"></span></a>
                        <div id="dropdown2-nav1" class="aui-dropdown2 aui-style-default">
                            <ul class="aui-list-truncate">
                                <li><a href="http://example.com/">Dropdown item</a>
                                </li>
                                <li><a href="http://example.com/">Dropdown item</a>
                                </li>
                            </ul>
                        </div>
                        <!-- .aui-dropdown2 -->
                    </li>
                    <li><a href="http://example.com/">Nav item</a>
                    </li>
                    <li><a href="http://example.com/">Nav item</a>
                    </li>
                </ul>
            </div>
            <!-- .aui-navgroup-primary -->
            <div class="aui-navgroup-secondary">
                <ul class="aui-nav __skate">
                    <li><a href="#dropdown2-nav2" aria-owns="dropdown2-nav2" aria-haspopup="true" class="aui-dropdown2-trigger" data-container="#aui-hnav-example"><span class="aui-icon aui-icon-small aui-iconfont-configure">Configure</span></a>
                        <div id="dropdown2-nav2"
                        class="aui-dropdown2 aui-style-default">
                            <ul class="aui-list-truncate">
                                <li><a href="http://example.com/">Dropdown item</a>
                                </li>
                                <li><a href="http://example.com/">Dropdown item</a>
                                </li>
                            </ul>
                        </div>
                        <!-- .aui-dropdown2 -->
                    </li>
                </ul>
            </div>
            <!-- .aui-navgroup-secondary -->
        </div>
        <!-- .aui-navgroup-inner -->
    </nav>
    <!-- .aui-navgroup -->
</div>
<h4>Vertical navigation</h4>
<p>Usually placed inside an <code>.aui-page-panel-nav</code> but will expand horizontally to fit any appropriate container element.</p>
<div id="aui-vnav-example" class="aui-flatpack-example">
    <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
            <ul class="aui-nav __skate">
                <li class="aui-nav-selected"><a href="http://example.com/">Selected Nav Item</a>
                </li>
                <li><a href="http://example.com/">Nav item</a>
                </li>
                <li><a href="http://example.com/">Nav item</a>
                </li>
            </ul>
            <ul class="aui-nav __skate">
                <li><a href="http://example.com/">Nav item</a>
                </li>
                <li><a href="http://example.com/">Nav item</a>
                </li>
            </ul>
            <ul class="aui-nav __skate">
                <li><a href="http://example.com/">Nav item</a>
                </li>
                <li><a href="http://example.com/">Nav item</a>
                </li>
            </ul>
            <div class="aui-nav-heading"><strong>Heading</strong>
            </div>
            <ul class="aui-nav __skate">
                <li><a href="http://example.com/">Nav item</a>
                </li>
                <li><a href="http://example.com/">Nav item</a>
                </li>
                <li><a href="http://example.com/">Nav item</a>
                </li>
                <li><a href="http://example.com/">Nav item</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<h4>Breadcrumbs</h4>
<div id="aui-pagination-example" class="aui-flatpack-example">
    <ol class="aui-nav aui-nav-breadcrumbs __skate">
        <li><a href="http://example.com/">Breadcrumbs</a>
        </li>
        <li><a href="http://example.com/">Sub-page</a>
        </li>
        <li class="aui-nav-selected">Direct parent page</li>
    </ol>
</div>
<div id="aui-nav-actions-list-example" class="aui-flatpack-example">
    <div class="aui-message aui-message-error">
        <p class="title">
            <strong>Error!</strong>
        </p>
        <p>And this is just content in a Default message.</p>
        <ul class="aui-nav-actions-list">
            <li><a href="#">Action 1</a>
            </li>
            <li><a href="#">Action 2</a>
            </li>
            <li><a href="#">Action 3</a>
            </li>
        </ul>
    </div>
</div>

<h3>Code</h3>
<h4>HTML</h4>
<h4>Simple nav</h4>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <nav class="aui-header">
            <ul class="aui-nav">
                <li><a href="http://example.com/">Nav item</a></li>
                <li class="aui-nav-selected"><a href="http://example.com/">Selected item</a></li>
                <li><a href="http://example.com/">Item with badge <span class="aui-badge">123</span></a></li>
                <li><a href="http://example.com/">Kitchen Sink</a></li>
            </ul>
        </nav>
    </noscript>
</aui-docs-example>

<p>They are rarely used on their own, they are primarily for use in nav groups or with a modifier class.</p>
<h4>Breadcrumbs</h4>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <nav class="aui-header">
            <ol class="aui-nav aui-nav-breadcrumbs">
                <li><a href="http://example.com/">Nav</a></li>
                <li><a href="http://example.com/">Nav</a></li>
                <li><a href="http://example.com/">Nav</a></li>
                <li class="aui-nav-selected">Selected</li>
            </ol>
        </nav>
    </noscript>
</aui-docs-example>

<p>The last item in breadcrumbs is, by definition, the selected item; it can be plain text or a link. All other items should be links to pages within a content heirarchy (order is significant).</p>
<h4>Pagination</h4>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <nav class="aui-header">
            <ol class="aui-nav aui-nav-pagination">
                <li class="aui-nav-first"><a href="#">First</a></li>
                <li class="aui-nav-previous"><a href="#">Prev</a></li>
                <li><a href="http://example.com/">1</a></li>
                <li class="aui-nav-selected">2</li>
                <li><a href="http://example.com/">3</a></li>
                <li class="aui-nav-truncation"><a href="http://example.com/" id="pagination-truncation">&hellip;</a></li>
                <li><a href="http://example.com/">998</a></li>
                <li><a href="http://example.com/">999</a></li>
                <li class="aui-nav-next"><a href="#">Next</a></li>
                <li class="aui-nav-last"><a href="#">Last</a></li>
            </ol>
        </nav>
    </noscript>
</aui-docs-example>

<p>Note the current page is set to "aui-nav-selected" and should not be a link.</p>
<h4>Horizontal navgroup</h4>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <nav class="aui-navgroup aui-navgroup-horizontal">
            <div class="aui-navgroup-inner">
                <div class="aui-navgroup-primary">
                    <ul class="aui-nav">
                        <li><a href="#">Nav item</a></li>
                        <li class="aui-nav-selected"><a href="#">Selected item</a></li>
                        <li><a href="#">Pull requests <span class="aui-badge">123</span></a></li>
                        <li><a href="#dropdown2-nav1" aria-owns="dropdown2-nav1" aria-haspopup="true" class="aui-dropdown2-trigger">Dropdown <span class="aui-icon-dropdown"></span></a></li>
                        <li><a href="#"><span class="aui-icon aui-icon-test16-dark"></span> Overview</a></li>
                        <li><a href="#">Kitchen sink</a></li>
                    </ul>
                </div>
                <div class="aui-navgroup-secondary">
                    <ul class="aui-nav">
                        <li><a href="#dropdown2-nav1" aria-owns="dropdown2-nav1" aria-haspopup="true" class="aui-dropdown2-trigger"><span class="aui-icon aui-icon-small aui-iconfont-configure">Configure</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </noscript>
</aui-docs-example>

<h4>Vertical navgroup</h4>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <nav class="aui-navgroup aui-navgroup-vertical">
            <div class="aui-navgroup-inner">
                <ul class="aui-nav">
                    <li class="aui-nav-selected"><a href="#">Selected foo</a></li>
                    <li><a href="#">Bar</a></li>
                    <li><a href="#">Baz</a></li>
                </ul>
                <ul class="aui-nav">
                    <li><a href="#">Issues</a></li>
                    <li><a href="#">Popular issues</a></li>
                </ul>
                <ul class="aui-nav">
                    <li><a href="#">Versions</a></li>
                    <li><a href="#">Labels</a></li>
                </ul>
                <div class="aui-nav-heading"><strong>Heading</strong></div>
                <ul class="aui-nav">
                    <li><a href="#">Wiki</a></li>
                    <li><a href="#">Builds</a></li>
                    <li><a href="#">Team avacado design patterns</a></li>
                    <li><a href="#">Biglongwordthathascomeintoanavanddoesntfit</a></li>
                    <li><a href="#">Our QA process</a></li>
                </ul>
            </div>
        </nav>
    </noscript>
</aui-docs-example>

<h4>Navgroup headers</h4>
<p>Navgroups can include headers. They are placed before nav UL elements:</p>

<noscript is="aui-docs-code" type="text/html">
    <div class="aui-nav-heading"><strong>Heading</strong></div>
    <ul class="aui-nav">
    ...
    </ul>
</noscript>

<h4>Split horizontal nav</h4>
<p>A common use case for horizontal navigation is to have most items on the left and a small number (usually just one) item on the right, eg. a configuration icon. Inside navgroup inner, add these:</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-navgroup-primary">
            <!-- .aui-nav goes here -->
        </div>
        <div class="aui-navgroup-secondary">
            <!-- .aui-nav goes here -->
        </div>
    </noscript>
</aui-docs-example>

<p>In horizontal nav primary defaults to left, secondary to the right. Add aui-nav and aui-nav-neading elements inside as normal. These divs currently have no effect in vertical nav; but can be included for consistency.</p>
<h4>Actions list</h4>
<p>A common use case for the action list is actions at the bottom of messages:</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-message aui-message-error">
            <p class="title">
                <strong>Error!</strong>
            </p>
            <p>And this is just content in a Default message.</p>
            <ul class="aui-nav-actions-list">
                <li><a href="#">Action 1</a></li>
                <li><a href="#">Action 2</a></li>
                <li><a href="#">Action 3</a></li>
            </ul>
        </div>
    </noscript>
</aui-docs-example>

<p>In horizontal nav primary defaults to left, secondary to the right. Add aui-nav and aui-nav-neading elements inside as normal. These divs currently have no effect in vertical nav; but can be included for consistency.</p>
